{% extends 'YouFoodAdminBundle::layout.html.twig' %}

{% block title %}Catégorie de plat {{ entity.name }}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
        Catégorie de plat {{ entity.name }}
    </h1>
</div>


<form action="{{ path('foodcategory_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p class="form-actions">
        <button class="btn btn-large btn-primary" type="submit">Modifier</button>
        <a class="btn btn-large" href="{{ path('foodcategory') }}">Retour à la liste des catégories de plat</a>
    </p>
</form>

{% endblock %}

